{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Mapeamento dos Diários Oficiais municipais do Brasil</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Formulário</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sobre/">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/andamento/">Acompanhar mapeamento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/" target="_blank">Admin</a>
                  </li>
                </ul>
              </div>
            </nav>
            <h1 class="mt-2">Mapeamento dos Diários Oficiais municipais do Brasil</h1>
            <hr class="mt-0 mb-4">
            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

   
  </body>
</html>

