{% extends 'base.html' %}

{% csrf_token %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    
    <div class="form-group">
        {{ form|crispy }}
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </div>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function Hide() {
        console.log(document.getElementById('id_is_online'));
        if(document.getElementById('id_is_online').options[document.getElementById('id_is_online').selectedIndex].value != 1) {
             document.getElementById('div_id_link_do').style.display = 'none';
             document.getElementById('div_id_data_inicial').style.display = 'none';
             document.getElementById('div_id_tipo_arquivo').style.display = 'none';
        } else {
             document.getElementById('div_id_link_do').style.display = '';
             document.getElementById('div_id_data_inicial').style.display = '';
             document.getElementById('div_id_tipo_arquivo').style.display = '';
             div_id_tipo_arquivo
        }
    };
  </script>
  <script type="text/javascript"> window.addEventListener("load", Hide);</script> <script type="text/javascript"> var el = document.getElementById("div_id_is_online"); el.addEventListener("click", Hide);</script>
  
  {{ form.media.js }}
{% endblock %}
