{% extends 'base.html' %}


{% block content %}
    <h4>Dados mais abertos em um só lugar</h4>
    <p>
        Fiscalizar as ações dos governos de cada cidade do Brasil pode parecer uma tarefa difícil, mas está longe de ser impossível.
    </p>
    <p>
        O <a href=https://queridodiario.ok.org.br/ target="_blank">Querido Diário</a> é um projeto de código aberto da <a href=https://www.ok.org.br/ target="_blank">Open Knowledge Brasil</a> que vai usar a tecnologia para libertar e centralizar as informações publicadas nos diários oficiais dos municípios, hoje presas em PDFs obscuros de acesso complicado.
    </p>

    <h4>Precisamos da sua ajuda para começar</h4>
    <p>
        Temos um longo caminho pela frente. Afinal, precisamos libertar informações de 5.570 municípios. Para começar, <strong>queremos fazer um diagnóstico</strong> da situação atual dos diários oficiais, reunindo todos os links e os formatos utilizados pelas prefeituras para publicar as informações.
    </p>

    <p>
        Criamos um <a href=/>formulário</a> para receber contribuições de pessoas interessadas em nos ajudar nesse projeto desafiador. Em dois meses, queremos completar esta etapa e publicar o resultado inédito do censo dos diários.
    </p>

{% endblock %}