{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {{ form.media.css }}
    <style type="text/css">
      select {
        width: 200px;
      }
    </style>

    <title>Mapeamento dos Diários Oficiais municipais do Brasil</title>
  </head>
  <body>
    <div class="container general-container">
      <div class="row justify-content-center">
        <div class="conteudo-bloco col-8 shadow p-3 mb-5 rounded">  
                  <div class="qd-logo mr-auto ml-auto">
                    <img src="../static/images/qd-logo.png" class="img-fluid">  
                  </div>  
          <div id="view" class="box-titulo">
            <h1 class="mt-2 qd-titulo">Mapeamento dos Diários Oficiais municipais do Brasil</h1>      
          </div>           
            <nav class="navbar navbar-expand">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link navbar-style" href="/" >Formulário</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navbar-style" href="/andamento">Acompanhar mapeamento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navbar-style" href="/faq">Perguntas Frequentes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navbar-style" href="/sobre">Sobre</a>
                  </li>
                </ul>
              </div>
            </nav>
            
            
            {% block content %}
            {% endblock %}

            <div class="banner-catarse">
              <a href="https://www.catarse.me/queridodiario-okbr" target="_blank">
              <img src="../static/images/banner_censo.gif" alt="">
            </a>
            </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>  
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

  </body>
</html>

