{% extends 'base.html' %}


{% block content %}
    <div class="dropdown block-regions">
      <div class="btn-group">
          <a href=/andamento#view><button type="button" class="btn btn-region">Brasil</button></a>

      </div>
      <div class="btn-group">
        <!-- <a class="btn btn-region dropdown-toggle" href=/andamento/?region=norte 
            role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Norte
        </a> -->
          <a href=/andamento/?region=norte#view><button type="button" class="btn btn-region">Norte</button></a>
          <button type="button" class="btn btn-region btn-arrow dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/andamento/?state=ac">Acre (AC)</a>
            <a class="dropdown-item" href=/andamento/?state=ap>Amapá (AP)</a>
            <a class="dropdown-item" href=/andamento/?state=am>Amazonas (AM)</a>
            <a class="dropdown-item" href=/andamento/?state=pa>Pará (PA)</a>
            <a class="dropdown-item" href=/andamento/?state=ro>Rondônia (RO)</a>
            <a class="dropdown-item" href=/andamento/?state=rr>Roraima (RR)</a>
            <a class="dropdown-item" href=/andamento/?state=to>Tocantins (TO)</a>
          </div>
      </div>

      <div class="btn-group">
        <!-- <a class="btn btn-region dropdown-toggle" href=/andamento/?region=nordeste 
          role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nordeste
        </a> -->
          <a href=/andamento/?region=nordeste#view><button type="button" class="btn btn-region">Nordeste</button></a>
          <button type="button" class="btn btn-region btn-arrow dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href=/andamento/?state=al>Alagoas (AL)</a>
            <a class="dropdown-item" href=/andamento/?state=ba>Bahia (BA)</a>
            <a class="dropdown-item" href=/andamento/?state=ce>Ceará (CE)</a>
            <a class="dropdown-item" href=/andamento/?state=ma>Maranhão (MA)</a>
            <a class="dropdown-item" href=/andamento/?state=pb>Paraíba (PB)</a>
            <a class="dropdown-item" href=/andamento/?state=pe>Pernambuco (PE)</a>
            <a class="dropdown-item" href=/andamento/?state=pi>Piauí (PI)</a>
            <a class="dropdown-item" href=/andamento/?state=rn>Rio Grande do Norte (RN)</a>
            <a class="dropdown-item" href=/andamento/?state=se>Sergipe (SE)</a>
          </div>
      </div>

      <div class="btn-group">
        <!-- <a class="btn btn-region dropdown-toggle" href=/andamento/?region=centro-oeste 
          role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Centro-Oeste
        </a> -->
          <a href=/andamento/?region=centro-oeste#view><button type="button" class="btn btn-region">Centro-Oeste</button></a>
          <button type="button" class="btn btn-region btn-arrow dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href=/andamento/?state=df>Distrito Federal (DF)</a>
            <a class="dropdown-item" href=/andamento/?state=go>Goiás (GO)</a>
            <a class="dropdown-item" href=/andamento/?state=mt>Mato Grosso (MT)</a>
            <a class="dropdown-item" href=/andamento/?state=ms>Mato Grosso do Sul (MS)</a>
          </div>
      </div>

      <div class="btn-group">
        <!-- <a class="btn btn-region dropdown-toggle" href=/andamento/?region=sudeste 
          role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sudeste
        </a> -->
          <a href=/andamento/?region=sudeste#view><button type="button" class="btn btn-region">Sudeste</button></a>
          <button type="button" class="btn btn-region btn-arrow dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href=/andamento/?state=es>Espírito Santo (ES)</a>
            <a class="dropdown-item" href=/andamento/?state=mg>Minas Gerais (MG)</a>
            <a class="dropdown-item" href=/andamento/?state=rj>Rio de Janeiro (RJ)</a>
            <a class="dropdown-item" href=/andamento/?state=sp>São Paulo (SP)</a>
          </div>
      </div>

      <div class="btn-group">
        <!-- <a class="btn btn-region dropdown-toggle" href=/andamento/?region=sul 
        role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sul
      </a> -->
          <a href=/andamento/?region=sul#view><button type="button" class="btn btn-region ">Sul</button></a>
          <button type="button" class="btn btn-region btn-arrow dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href=/andamento/?state=pr>Paraná (PR)</a>
            <a class="dropdown-item" href=/andamento/?state=rs>Rio Grande do Sul (RS)</a>
            <a class="dropdown-item" href=/andamento/?state=sc>Santa Catarina (SC)</a>
          </div>
      </div>

    <div style="margin-top: 1rem">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Temos <strong>{{percentage}}%</strong> das cidades mapeadas</h4>
          <p>Isso equivale a <strong>{{total_cities}}</strong> municípios.</p>
          <hr>
          <p style="text-transform: uppercase;">{{context}}</p>
          {% if context == 'Brasil' %}
          <div class='box-download'>
            <form action="{% url 'get_data' %}" method="POST" class="form-download">{% csrf_token %}
              <button type="submit" class="btn btn-region btn-download">Baixar dados</button>
              <input type="checkbox" name="chk_cidades_sem_map" value="true" id="chk_cidades_sem_map"><label for="chk_cidades_sem_map"> Incluir cidades sem mapeamento </label>
            </form>
          </div>
          {% endif %}
        </div>
        <p >Clique no município para acessar seu diário oficial:</p>
        <ul class="list-group list-group-flush">
            {% for city in cities %}
                {% if city.mapeamento__fonte_1 %}
                    <li class="list-group-item"><a href="{{city.mapeamento__fonte_1}}" target="_blank">{{city.municipio}} ({{city.uf}})</a></li>
                    {% if city.mapeamento__fonte_2 %}
                        <ul>
                            <li class="list-group-item"><a href="{{city.mapeamento__fonte_2}}" target="_blank">{{city.municipio}} ({{city.uf}})</a> (Fonte de publicação alternativa)</li>
                        {% endif %}
                        {% if city.mapeamento__fonte_3 %}
                            <li class="list-group-item"><a href="{{city.mapeamento__fonte_3}}" target="_blank">{{city.municipio}} ({{city.uf}})</a> (Fonte de publicação alternativa)</li>
                        {% endif %}
                        {% if city.mapeamento__fonte_4 %}
                            <li class="list-group-item"><a href="{{city.mapeamento__fonte_4}}" target="_blank">{{city.municipio}} ({{city.uf}})</a> (Fonte de publicação alternativa)</li>
                        {% endif %}
                    </ul>
                {% else %}
                    <li class="list-group-item">{{city.municipio}} ({{city.uf}}) - <strong>Município sem diário oficial online</strong></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <nav aria-label="Page navigation example">
    {% if cities.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% if cities.has_previous %}
          {% if context|length > 2 and context != 'Brasil' %}
            <li class="page-item"><a class="page-link" href="?region={{ context }}&page={{ cities.previous_page_number }}">Anterior</a></li>
          {% endif %}
          {% if context|length == 2 %}
            <li class="page-item"><a class="page-link" href="?state={{ context }}&page={{ cities.previous_page_number }}">Anterior</a></li>
          {% endif %}
          {% if context == 'Brasil' %}
            <li class="page-item"><a class="page-link" href="?page={{ cities.previous_page_number }}">Anterior</a></li>
          {% endif %}
        {% else %}
          <li class="page-item disabled"><a class="page-link">Anterior</a></li>
        {% endif %}

        {% for i in cities.paginator.page_range %}
          {% if cities.number == i %}
            <li class="page-item active"><a class="page-link">{{ i }}</a></li>
          {% else %}
            {% if context|length > 2 and context != 'Brasil' %}
              <li class="page-item"><a class="page-link" href="?region={{ context }}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% if context|length == 2 %}
              <li class="page-item"><a class="page-link" href="?state={{ context }}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% if context == 'Brasil' %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if cities.has_next %}
          {% if context|length > 2 and context != 'Brasil' %}
            <li class="page-item"><a class="page-link" href="?region={{ context }}&page={{ cities.next_page_number }}">Próximo</a></li>
          {% endif %}
          {% if context|length == 2 %}
            <li class="page-item"><a class="page-link" href="?state={{ context }}&page={{ cities.next_page_number }}">Próximo</a></li>
          {% endif %}
          {% if context == 'Brasil' %}
            <li class="page-item"><a class="page-link" href="?page={{ cities.next_page_number }}">Próximo</a></li>
          {% endif %}
        {% else %}
          <li class="page-item disabled"><a class="page-link">Próximo</a></li>
        {% endif %}
      </ul>
    {% endif %}
    </nav>

{% endblock %}
