{% extends 'base.html' %}


{% block content %}
    <div class="container">
    <h3 class="mt-4">Dados mais abertos em um só lugar</h3>
    <p>
        Fiscalizar as ações dos governos de cada cidade do Brasil pode parecer uma tarefa difícil, mas está longe de ser impossível.
    </p>
    <p>
        O <a href=https://queridodiario.ok.org.br/ target="_blank" class="about-link">Querido Diário</a> é um projeto de código aberto da <a href=https://www.ok.org.br/ target="_blank" class="about-link">Open Knowledge Brasil</a> que vai usar a tecnologia para libertar e centralizar as informações publicadas nos diários oficiais dos municípios, hoje presas em PDFs obscuros de acesso complicado.
    </p>

    <h3 class="mt-4">Precisamos da sua ajuda para começar</h3>
    <p>
        Temos um longo caminho pela frente. Afinal, precisamos libertar informações de 5.570 municípios. Para começar, <strong>queremos fazer um diagnóstico</strong> da situação atual dos diários oficiais, reunindo todos os links e os formatos utilizados pelas prefeituras para publicar as informações.
    </p>

    <p>
        Neste site, você pode preencher a status do diário oficial de qualquer município do Brasil! Basta selecionar o município no campo indicado. Caso alguma cidade não apareça na lista, significa que seu mapeamento já foi realizado. Você pode conferir a lista dos municípios mapeados e checados <a href="/andamento/" class="about-link">aqui</a>.
    </p>
</div>

{% endblock %}