{% extends 'base.html' %}


{% block content %}
    <div class="container">
    <h3 class="mt-4">Dados mais abertos em um só lugar</h3>
    <p>
        Fiscalizar as ações dos governos de cada cidade do Brasil pode parecer uma tarefa difícil, mas está longe de ser impossível.
    </p>
    <p>
        O <a href=https://queridodiario.ok.org.br/ target="_blank" class="about-link">Querido Diário</a> é um projeto de código aberto da <a href=https://www.ok.org.br/ target="_blank" class="about-link">Open Knowledge Brasil</a> que vai usar a tecnologia para libertar e centralizar as informações publicadas nos diários oficiais dos municípios, hoje presas em PDFs obscuros de acesso complicado.
    </p>

    <h3 class="mt-4">Precisamos da sua ajuda para começar</h3>
    <p>
        Temos um longo caminho pela frente. Afinal, precisamos libertar informações de 5.570 municípios. Para começar, <strong>queremos fazer um diagnóstico</strong> da situação atual dos diários oficiais, reunindo todos os links e os formatos utilizados pelas prefeituras para publicar as informações.
    </p>

    <p>
        Neste site, você pode preencher o status do diário oficial de qualquer cidade do Brasil! Basta digitar o nome do município no campo indicado e seguir preenchendo as informações solicitadas. 
    </p>
    <h3 class="mt-4 mb-3">Perguntas frequentes</h3>
    
    <p class="font-weight-bold">1 - Estou digitando o nome de um município, mas não consigo visualizá-lo na lista do formulário. O que isso quer dizer?</p>
    <p>Caso alguma cidade não apareça na lista, significa que seu mapeamento já foi realizado e passará por um processo de checagem. Você pode conferir a lista dos municípios mapeados e checados <a href="/andamento/" class="about-link">aqui</a>.</p>

    <p class="font-weight-bold">2 - Devo buscar o diário oficial da Prefeitura ou da Câmara Municipal?</p>
    <p>O Querido Diário trabalha com os diários oficiais que divulgam as ações do Poder Executivo. Portanto, na presente fase do projeto, coletaremos apenas as publicações das <strong>prefeituras</strong>.</p>

    <p class="font-weight-bold">3 - Encontrei o diário oficial de um município disponível em mais alguns sites (exs: Câmara Municipal, plataformas que publicam os diários de outros municípios). Qual devo considerar?</p>
    <p>A fonte oficial será sempre a disponível no site mantido pela prefeitura de cada município. Algumas possuem um site próprio para o diário oficial, enquanto outras incluem a publicação em seu site oficial. Se não encontrar publicações disponibilizadas pelas vias citadas anteriormente, priorize os <strong>órgãos públicos</strong> como fonte de publicação, e só então adicione os sites de empresas privadas que publicam diários de vários municípios clicando em "Adicionar fonte alternativa de publicação".</p>

    <p class="font-weight-bold">4 - A única publicação disponível para um determinado município reúne todos os diários oficiais das cidades do seu respectivo estado. O que devo fazer?</p>
    <p>Se você conferiu que não há outro site que publica o diário oficial individualmente para esta cidade, prossiga com o cadastro da única fonte encontrada. Neste caso, o mesmo site será a fonte de todas as outras cidades do estado, que devem ser cadastradas individualmente.</p>

    <p class="font-weight-bold">5 - Não encontrei a página que publica o diário oficial que desejo cadastrar. O que devo fazer?</p>
    <p>Se você não encontrou a publicação em nenhuma página web, indique o campo "Sem confirmação". Agora, se você entrou em contato com órgãos públicos (via ligação, email etc.) e confirmou que o município não publica seus diários na internet, indoque a opção "Não".
    </p>

    <p class="font-weight-bold">6 - Não consigo encontrar a data do arquivo mais antigo disponível online. O que devo fazer?</p>
    <p>Essa data corresponde ao início do processo de disponiblização de diários oficiais digitais pela respectiva Prefeitura. Caso não seja possível encontrar a data inicial de publicação, <strong>deixe o campo em branco</strong> e prossiga normalmente com o cadastro.</p>

    <p class="font-weight-bold">7 - Qual link devo cadastrar na fonte de publicação dos arquivos?</p>
    <p>Cadastre o link exato da página onde é possível encontrar todos os diários oficiais do respectivo município. Não informe a URL de uma edição específica ou de um documento (PDF, TXT etc.), nem um link "genérico", em que é necessário acessar outras páginas para visualizar os diários ou que seja possível acessar publicações de outros municípios.</p>
</div>

{% endblock %}