@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&family=Montserrat+Alternates:wght@400;600;700&display=swap');

/* Geral */
body {
    background-image: url('../images/background.png');    
    background-attachment: fixed;
    font-family: "Montserrat Alternates", sans-serif;
}

.general-container {
    max-width: 100%;
}

.conteudo-bloco {    
    background-color: #fff;      
}

.qd-logo{    
    max-width: 60%;   
    text-align: center;
    padding: 15px 0;         
}

.img-fluid{
    max-width: 70%;
}

.box-titulo {
    border-top: 3px dotted #ff8600;
    margin-top: 10px;
}

.navbar {
    background-color: #ff8600;
    border: #fff 5px solid;
    border-radius: 50px;    
}

.nav-item{
    padding: 0.2rem 1rem;
}

.navbar-style{
 color: #fff;
 font-size: 1.15rem;
 font-weight: 600;
}

.navbar-style:hover {
    color: #e55330;
}
   
.qd-titulo {
    text-align: center;
    font-family: "Baloo 2";
    font-weight: 600;
    padding: 10px 0;
    color: #e55330;
}

.banner-catarse {
    text-align: center;
    padding: 25px;
}

.banner-catarse img{
    max-width: 40%;
}


/* Formulário */
.form-group {
    font-size: 1.2rem;
}

label {
    padding-left: 10px;
    margin-top: 5px;
}

button:focus { 
    outline:#e55330 !important; 
}

.btn-region{
    background-color: #ff8600;
    color: #fff;
    border-radius: 0;
}

.btn-arrow {
    background-color: #ff8600b5;
}

#id_municipio,
#id_is_online,
#id_fonte_1,
#id_fonte_2,
#id_fonte_3,
#id_fonte_4,
#id_data_inicial,
#id_tipo_arquivo {
    border: #e55330 3px solid;
    border-radius: 50px;
    background-color:  #ff8600;
    color: #fff;
    font-weight: 600;      
}

#id_is_online,
#id_tipo_arquivo{
    box-shadow: none;        
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;  
    background: #ff8600 url("../images/arrow-down.png");
    background-size: 15px 15px; 
    background-position: 98% center;
	background-repeat: no-repeat;
	outline: none;
}

option{
    background-color: #fff;
}

#select2-id_municipio-container {
    border: #e55330 3px solid;
    border-radius: 50px;
    background-color:  #ff8600;
    color: #fff;  
    box-shadow: none;        
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;  
    background: #ff8600 url("../images/arrow-down.png");
    background-size: 15px 15px; 
    background-position: 98% center;
	background-repeat: no-repeat;
	outline: none;             
}

.select2-selection__arrow{
    display: none;
}

.select2-container--default .select2-selection--single {
    border: 0 !important;
}


.block-regions{
    text-align: center;
}

#id_plus_control, #id_minus_control {
    font-size: 14px;
}

#id_plus, #id_minus {
    padding: 0;
    font-weight: 700;
    border-radius: 50px;    
    height: 25px;
    width: 25px;
    text-align: center;    
}

.text-muted{
    padding-left: 10px;    
    font-size: 75%;
    line-height: 1.25rem;
    color: #464646 !important;
}

#hint_id_municipio {
    margin-top: 15px;
}

/* Sobre - O que é o Querido Diário */
.about-link{
    color: #e55330;
    font-weight: 600;
}

.about-link:hover {
    color:  #ff8600;
    font-weight: 600;
}

/* Box Sucesso */
.alert-success{
    background-color: #5e408f;
    color: #fff;
    padding-top: 25px;
    margin:15px;
    margin-top: 30px;
    text-align: center;
}

.btn-success{
    background-color: #966be8;
    border-color: #fff;
}

.btn-success:hover{
    background-color: #fff;
    color:#966be8;
}

/* Box Erro */
.alert-fail{
    background-color: #8f3b2e;
    color: #fff;
}


/* Mapeamento */
.alert-success hr {
    max-width: 60%;
    border-top-color: #fff;
}

.box-download{
    max-width: 60%;
    margin: auto;    
}

.form-download{
    text-align: center;
    background-color: #4f2691;
    padding-top: 15px;
    padding-bottom: 15px;       
}

.btn-download{
    background-color: #966be8;
    margin-right: 15px;
}

.btn-download:hover{
    background-color: #fff;
    color:#966be8;
    margin-right: 15px;
} 

/* Lista de cidades */
ul {
    margin-bottom: 0;
}
.list-group-item{
    max-width: 60%;
    margin: auto;
    padding: 0.5rem;
    border: none;
    color: #4f2691;
}

.list-group-item a{
    color: #4f2691;
}

.list-group-item a:hover{
    color: #966be8;
}

.pagination {
    padding-top: 20px;
}

.page-item .page-link {
    color: #4f2691;
}

.page-item.active .page-link {
    background-color: #4f2691;
    border-color: #4f2691;    
}

.page-item.active .page-link:hover{
    color: #fff;
}


/* Responsividade */
@media (max-width: 1200px) {
    .qd-titulo{
        font-size: 2.0rem;
    }
    .navbar-style {
        font-size: 0.9rem;
    }
}

@media all and (max-width: 991px) {  
    
    .container {
        max-width: 950px;
    }
    .navbar {  
      flex-wrap: wrap;  
    }  
      
    .navbar > li {  
      flex-basis: 50%;  
    }
  
  }
  
